@media (max-width: 900px) {
    .mobile-content {
        padding: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 10px;

    }

    .mobile {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: stretch;
        align-content: center;
    }

    .header-mobile {
        gap: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 5px;
    }

    .question-mobile {
        display: flex;
        max-width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }


    .room-title-mobile {
        margin: 32px 0 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .notify-mobile {
        margin-top: 20px;
    }

    .mobile-form {
        gap: 20px;
    }
}